<div style="float: right; margin: 1em"> <%= image_tag "aboutus1.png", :width => 120%> </div>
<h2>ABOUT TUFTS UNIVERSITY CORE FACILITY</h2>
<p align="justify">
The facility works to provide quick and convenient services to scientists from both academia and industry. Our ongoing scientific relationships with technical consultants associated with the major instrument companies along with our many contacts in the academic world and our hands-on experience, enable us to provide research scientists with reliable products and results.
</p>
<p align="justify">
Established in 1987, the core facility provides fast, high quality services to scientists from both academia and industry around the world. We currently have a staff of eight and over two million dollars of equipment providing an array of services, which are listed to the left, as well as technical and data analysis support. While our primary mission is to support researchers at Tufts University, many of our users are from outside Tufts.
</p>
<p align="justify">
We currently offer the services listed to the left. Our facility, instruments and computer software are constantly upgraded to meet the challenging needs of the research scientist. Our primary goal is to provide quality performance and experienced support, both through our products and our people.
</p>


<table class="home2">
	<tr>
		<th><h2>FACULTY & STAFF</h2></th>
		<th><h2>TECHNICIANS</h2></th>
	</tr>
	<tr>
		<td>
			<p><b>MICHAEL BERNE</b><br>Research Assistant Professor<br>(617) 636-2422</p>
		</td>
		<td bgcolor="#FFFFCC">
			<p><b>MICHAEL GRINNELL</b><br>Research Technician</p>
		</td>
	</tr>
	<tr>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>
			<p><b>PATTY FLAHERTY</b><br>Bookkeeper<br>(617) 636-0999</p>
		</td>
		<td bgcolor="#FFFFCC"><p><b>IRINA GRINVALD</b><br>Sr. Research Technician<br>(617) 636-2407</p>
		</td>
	</tr>
	<tr>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>
			<p><b>TOM PHIMMASEN</b><br>Sr. Bioinformatics & IT Sys Adm<br>(617) 636-6707</p>
		<td bgcolor="#FFFFCC">
			<p><b>PAULA NGUYEN</b><br>Sr. Research Assistant<br>(617) 636-2416</p>
		</td>
	</tr>
	<tr>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>
			<p><b>ALBERT TAI</b><br>Research Assistant Professor<br>(617) 636-3992</p>
		</td>
		<td bgcolor="#FFFFCC">
			<p><b>KATHLEEN SULLIVAN</b><br>Research Technician</p>
		</td>
	</tr>
	<tr>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>
			<p><b>ANNA WONG</b><br>Research Assistant Professor<br>(617) 636-2422</p>
		</td>
		<td bgcolor="#FFFFCC">
		</td>
	</tr>
</table>