<table width=100%>
	<tr>
		<td width=25%>
			<h2>CONTACT US</h2>
			Michael Berne<br>
			Tufts Medical School<br>
			Dept. of IPP - ST808<br>
			136 Harrison Avenue<br>
			Boston, MA 02111<br>
			<br>
			Phone: 617-636-2422<br>
			Fax: 617-636-6737<br>
			Michael.Berne@tufts.edu<br>
		</td>
		<td>
			<center><h2>Google Map</h2></center>
			<div ALIGN=CENTER>
			  <!-- Note: you will need to replace the sensor parameter below with either an explicit true or false value. -->
			  <!-- <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAvfekOWW7tWw3tenmsO_YWBRqihYNuqWr5A9iV5R7zAb2QhNW6xSh11KI28CAl2CAjHCtk-d_N2Q8EA" type="text/javascript"></script> -->
			  <iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=136+Harrison+Avenue,+Boston,+MA&amp;sll=37.0625,-95.677068&amp;sspn=50.157795,73.564453&amp;ie=UTF8&amp;hq=&amp;hnear=136+Harrison+Ave,+Boston,+Suffolk,+Massachusetts+02111&amp;ll=42.349844,-71.061984&amp;spn=0.005764,0.00898&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=136+Harrison+Avenue,+Boston,+MA&amp;sll=37.0625,-95.677068&amp;sspn=50.157795,73.564453&amp;ie=UTF8&amp;hq=&amp;hnear=136+Harrison+Ave,+Boston,+Suffolk,+Massachusetts+02111&amp;ll=42.349844,-71.061984&amp;spn=0.005764,0.00898&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</td>
	</tr>
</table>


<h2>From Green Line</h2>

Exit at Boylston Street. Walk down Tremont Street away from the Boston Common toward the Theatre District. Turn left on Stuart St. At the first stoplight you come to the cross street is Washington St. Stuart St. turns into Kneeland Street at this point. Walk straight through the intersection to the next stoplight. Take a right there onto Harrison Ave. We are in the building on your left, 136 Harrison Ave. Enter at 136 Harrison Ave. and take elevator in main lobby up to the Physiology Dept. on the 7th floor. On exiting the elevator take a left and then a second left. As you walk down the hall you will cross from the M&V building 7th floor to the Stearns Building 8th floor. We will be on your right and are located in Stearns 806, 808, and 810.

<h2>From Orange Line</h2>

Exit at Tufts Medical Center stop - Follow signs to Tufts Medical Center. When you come out of the station, walk directly across the street, enter the main entrance of TMC and walk straight through until you reach doors directly in front of you. Exit that door and you will be on a side street -Bennet Street. Walk to the end of the street and turn left on Harrison Avenue. Cross to the other side and walk up to 136 Harrison Ave. -about 100 yards. Enter at 136 Harrison Ave. and take elevator in main lobby up to the Physiology Dept. on the 7th floor. On exiting the elevator take a left and then a second left. As you walk down the hall you will cross from the M&V building 7th floor to the Stearns Building 8th floor. We will be on your right and are located in Stearns 806, 808, and 810.

<h2>From Red Line</h2>

Exit at Downtown Crossing. Follow exit to Chauncy St. Turn right on Chauncy, away from Downtown Crossing. You'll come to one stoplight and walk straight through. Chauncy St. becomes Harrison Ave. at the Bell Atlantic building. Keep walking straight. At the next stoplight the cross street is Kneeland St. Walk straight through the intersection. We are located in the building on your right immediately after the intersection. Walk down to the entrance at 136 Harrison Ave. Enter at 136 Harrison Ave. and take elevator in main lobby up to the Physiology Dept. on the 7th floor. On exiting the elevator take a left and then a second left. As you walk down the hall you will cross from the M&V building 7th floor to the Stearns Building 8th floor. We will be on your right and are located in Stearns 806, 808, and 810.

