<!--
<h2>Submit Order Options</h2>
<div class="marquee"><h3>ATTENTION:</h3>
<p>
<marquee behavior="slide" width="100%">
	Message to customer!
</marquee>
</p>
</div>
-->

<div style="float: right; margin: 1em"> <%= image_tag "dna_synthesis1.png", :width => 150 -%> </div>
<h2>DNA SYNTHESIS</h2>
<p align="justify">
	Currently we have an ABI 394 and an Expedite 8909 DNA synthesizer that together can make up to 30 oligos per day. We offer two scales, 50nm and 200nm. Turnaround time is often within 24 hours. Oligos are shipped out dried down and quantitated and include a synthesis report. Cartridge purification is available but for most applications is not necessary.
</p>
<p align="justify">
	We also offer the option to outsource to IDT. Oligos ordered from IDT through the TUCF portal are discounted from IDT's list price and receive free shipping to the core where they can be picked up.
</p>

<h2>SUBMIT ORDER</h2>
<p><b><a href=http://www.idtdna.com/TUCF/Login.aspx>CLICK HERE</a></b> - to place order online through IDT website.</p>
<p><b><a href=https://secure.netsolhost.com/tucf.net/dnasynthesis-form-f.html>CLICK HERE</a></b> - to place order online through TUCF website.</p>
<p><b><%= link_to "CLICK HERE", image_path('documents/oligonucleotide.pdf') %></b> - to download and fax the order form.</p>
<p>
	<b>IMPORTANT NOTICE:</b> For long oligos over 60NT, please submit order <b><a href=https://secure.netsolhost.com/tucf.net/dnasynthesis-form-f.html>ONLINE</a></b> or <b><%= link_to "DOWNLOAD", image_path('documents/dna-long-oligo-form.pdf') %></b> the long oligo pdf form.
</p>


<h2>CHARGES & SPECIAL SERVICES</h2>
<table class="home1">
	<tr>
		<th>50nm scale:</th>
		<td>No set-up charge. $0.60/base.</td>
	</tr>
	<tr>
		<th>200nm scale:</th>
		<td>No set-up charge. $1.50/base.</td>
	</tr>
	<tr>
		<td><hr></td>
		<td><hr></td>
	</tr>
	<tr>
		<th>Cartridge purification:</th>
		<td>$20</td>
	</tr>
	<tr>
		<th>Degenerate position:</th>
		<td>No extra charge</td>
	</tr>
	<tr>
		<th>Other Special Requests:</th>
		<td>Call for price and availability.</td>
	</tr>
</table>
 		
 	


		


	
 	

	
