<!--
<h2>Submit Order Options</h2>
<div class="marquee"><h3>ATTENTION:</h3>
<p>
<marquee behavior="slide" width="100%">
	Message to customer!
</marquee>
</p>
</div>
-->

<div style="float: right; margin: 1em"> <%= image_tag "dna_sequencing1.png", :width => 200 -%> </div>
<h2>DNA SEQUENCING</h2>
<p align="justify">
	The DNA sequencing lab contains three Beckman Biomek 3000 robots, used for setting up and cleaning up sequencing reactions, and three ABI 3130XL Automated DNA sequencers. All samples are submitted in bar coded tubes to ensure accurate sample handling and tracking. Read lengths of about 600-800 bases are routinely attained. Turnaround time is generally 24-36 hours and the results are posted on our server where both the text and chromatogram files can be viewed and downloaded.
</p>

<h2>SUBMIT ORDER</h2>
<p><b><a href=http://tucf-dna.med.tufts.edu/>CLICK HERE</a></b> - to submit your DNA sequencing, PCR, or Gel-only order online.</p>

<h2>INFORMATION FOR SAMPLE SUBMISSION</h2>
<p><b>
	All samples, both template and primer, should be submitted in bar-coded tubes which we provide to you at no charge. Please stop by or contact us to receive these tubes.
</b></p>

<table class="home1">
	<tr>
		<th>Plasmids:</th>
		<td>
			We recommend using Qiagen mini or maxi kits. Concentration should be determined by A260. Please adjust concentration to between 50ng/ul and 150ng/ul. Submit 300ng per sequencing reaction.
		</td>
	</tr>
	<tr>
		<th>PCR Products:</th>
		<td bgcolor="#FFFFCC">
			Gel purification may or may not be necessary depending on how clean the product is. Either way, the sample will need to be cleaned using a product such as Quiagen's QIAquick kit. The concentration should be between 10ng/ul and 150ng/ul and we need 10-150ng per sequencing reaction depending on the length of the PCR product.
		</td>
	</tr>
	<tr>
		<th>Primers:</th>
		<td>
			Please adjust concentration to 5uM. This corresponds to 25ng/ul or 5 picomoles/ul. Submit 5ul per sequencing reaction.
		</td>
	</tr>
</table>

<p>
	We provide the following standard primers at no cost. Please check the sequence with those in your sample to ensure they are the same. Some companies have made changes without changing the name of the primer.
</p>

<table class="home1">
	<tr>
		<th>T7:</th>
		<td>5'-TAA-TAC-GAC-TCA-CTA-TAG-GG-3'</td>
	</tr>
	<tr>
		<th>T7 Term:</th>
		<td bgcolor="#FFFFCC">5'-CTA-GTT-ATT-GCT-CAG-CGG-3'</td>
	</tr>
	<tr>
		<th>T3:</th>
		<td>5'-ATT-ACC-CCT-CAC-TAA-AG-3'</td>
	</tr>
	<tr>
		<th>M13F:</th>
		<td bgcolor="#FFFFCC">5'-TGT-AAA-ACG-ACG-GCC-AGT-3'</td>
	</tr>
	<tr>
		<th>M13R:</th>
		<td>5'-CAG-GAA-ACA-GCT-ATG-AC-3'</td>
	</tr>
	<tr>
		<th>PGEX3:</th>
		<td bgcolor="#FFFFCC">5'-CCG-GGA-GCT-GCA-TGT-GTC-AGA-GG-3'</td>
	</tr>
	<tr>
		<th>PGEX5:</th>
		<td>5'-GGG-CTG-GCA-AGC-CAC-GTT-TGG-TG-3'</td>
	</tr>
	<tr>
		<th>SP6:</th>
		<td bgcolor="#FFFFCC">5'-ATT-TAG-GTG-ACA-CTA-TAG-A-3'</td>
	</tr>
</table>

<h2>HIGH-VOLUME SERVICE</h2>
<p>
	If you have a large number of samples, 48 or more, you can submit them in a 96 well plate aliquoted at the correct concentration of template, primer, and water in each well. Please contact us for details.
</p>
<p align=center><%= image_tag "dna_sequencing2.png", :width => 600 -%></p>

<h2>CHARGES & SPECIAL SERVICES</h2>
<table class="home1">
	<tr>
		<th>$9 per reaction -</th>
		<td>Bac, Cosmids, and Genomic DNA</td>
	</tr>
	<tr>
		<th>$6 per reaction -</th>
		<td>Plasmids and PCR Products
		</td>
	</tr>
	<tr>
		<th>$5 per reaction -</th>
		<td>High-Volume Service
		</td>
	</tr>
</table>


