<!--
<h2>Submit Order Options</h2>
<div class="marquee"><h3>ATTENTION:</h3>
<p>
<marquee behavior="slide" width="100%">
	Message to customer!
</marquee>
</p>
</div>
-->

<div style="float: right; margin: 1em"> <%= image_tag "massSpec1.png", :width => 200 -%> </div>
<h2>MASS SPECTORMETRY ANALYSIS</h2>
<p align="justify">
	MALDI-TOF Mass Spectrometry requires only femtomoles of sample and is a quick tool for mass determination and checking sample purity. Our Applied Biosystems Voyager DE Pro can be run in either linear or reflector mode with an accuracy of 0.1% or better. Turnaround time is usually one day.
</p>

<h2>SUBMIT ORDER</h2>
<p><b><%= link_to "CLICK HERE", image_path('documents/mass-spec-order.pdf') %></b> - to download the MALDI-TOF Mass Spectrometer Analysis Order Form.</p>

<h2>CHARGES & SPECIAL SERVICES</h2>
<center><p>
	<b>MALDI-TOF Mass Spectrometry Prices</b><br>
	(Additional charges may apply if cleanup procedures such as ZipTip are required)
</p></center>
<table class="home1">
	<tr>
		<th>$10 per sample -</th>
		<td>Molecular weight screening (linear mode)</td>
	</tr>
	<tr>
		<th>$60 per sample -</th>
		<td>High accuracy molecular weight determination (reflector mode) and all protein molecular weight determinations</td>
	</tr>
</table>

<center>
	<p><b>Please contact us for more information on appropriate buffers, solvents and concentrations.</b></p>
	<div style="margin: 1em"> <%= image_tag "massSpec2.png", :width => 500 -%> </div>
</center>


