<!--
<h2>Submit Order Options</h2>
<div class="marquee"><h3>ATTENTION:</h3>
<p>
<marquee behavior="slide" width="100%">
	Message to customer!
</marquee>
</p>
</div>
-->

<div style="float: right; margin: 1em"> <%= image_tag "peptide_synthesis1.png", :width => 250 -%> </div>
<h2>PEPTIDE SYNTHESIS</h2>
<p align="justify">
	Currently we have five ABI 431 Peptide Synthesizers employing FastMoc Chemistry. We are capable of synthesizing 5-10 peptides per day depending on their lengths at 2 different scales: 0.1 mmol and 0.25 mmol. Turnaround time is usually less than two weeks. All peptides are returned with a Mass Spec analysis and an analytical HPLC chromatogram with the exception of peptide libraries.
</p>

<h2>SUBMIT ORDER</h2>
<p><b><a href=https://secure.netsolhost.com/tucf.net/peptidesynthesis-form-f.html>CLICK HERE</a></b> - place an order online through TUCF Website.</p>
<p><b><%= link_to "CLICK HERE", image_path('documents/oligonucleotide.pdf') %></b> - to download and fax the order form.</p>
<p>
	<b>IMPORTANT NOTICE:</b> To order additional peptide repurifications, please <b><%= link_to "DOWNLOAD", image_path('documents/peptide-order.pdf') %></b> and fax the Peptide Repurification order form.
</p>


<h2>CHARGES & SPECIAL SERVICES</h2>
<table class="home2">
	<tr>
		<th>SERVICE</th>
		<th>TUFTS INTERNAL</th>
		<th>TMC & EXTERNAL</th>
	</tr>
	<tr>
		<td>0.1mm Scale Synthesis</td>
		<td>$42.50 Set-Up Fee &<br> $17/amino acid</td>
		<td>$50 Set-Up Fee &<br> $20/amino acid</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFCC">0.25mm Scale Synthesis <br>w/ 8 amino acids or less</td>
		<td bgcolor="#FFFFCC">$63.75 Set-Up Fee &<br> $21.25/amino acid</td>
		<td bgcolor="#FFFFCC">$75 Set-Up Fee &<br> $25/amino acid</td>
	</tr>
	<tr>
		<td>0.25mm Scale Synthesis <br>w/ more than 8 amino acids</td>
		<td>$85 Set-Up Fee &<br> $34/amino acid</td>
		<td>$100 Set-Up Fee &<br> $40/amino acid</td>
	</tr>
</table>
       	

<h2>CHARGES ON OTHER SERVICES</h2>
<table class="home3">
	<tr>
		<th>No Charge</th>
		<td>- Acetylation of N-terminal</td>
	</tr>
	<tr>
		<th>$25</th>
		<td>- Biotinylation of N-terminal</td>
	</tr>
	<tr>
		<th>$100 + $20</th>
		<td>- FITC + Linker (AHA or Beta-Alanine)</td>
	</tr>
	<tr>
		<th>$20</th>
		<td>- Linker/Spacer (AHA or Beta-Alanine)</td>
	</tr>
	<tr>
		<th>$75</th>
		<td>- pTyrosine</td>
	</tr>
	<tr>
		<th>$100</th>
		<td>- pSerine</td>
	</tr>
	<tr>
		<th>$100</th>
		<td>- pThreonine</td>
	</tr>
	<tr>
		<th>$100/set-up, $25/amino acid</th>
		<td>- MAP peptide</td>
	</tr>
	<tr>
		<th>Call for Pricing</th>
		<td>- Peptide Libraries</td>
	</tr>
	<tr>
		<th>Call for Pricing</th>
		<td>- D-Amino Acids</td>
	</tr>
	<tr>
		<th>Call For Pricing & Availability</th>
		<td>- Other Special Requests</td>
	</tr>
</table> 

<h2>PEPTIDE PURIFICATION</h2>
<table class="home2">
	<tr>
		<th>SERVICE</th>
		<th>TUFTS INTERNAL</th>
		<th>TMC & EXTERNAL</th>
	</tr>
	<tr>
		<td>Each Purification of 40 mg <br>of crude product</td>
		<td>$85</td>
		<td>$100</td>
	</tr>
</table>
<div style="float: left; margin: 1em"> <%= image_tag "peptide2.jpg", :width => 150 -%> </div>
<p>(Recovery is usually between 5mg to 25mg and often > 90% pure by reverse-phase HPLC.)</p>
<p>Please keep in mind that yields and solubility are sequence dependent.</p>


	
