<!--
<h2>Submit Order Options</h2>
<div class="marquee"><h3>ATTENTION:</h3>
<p>
<marquee behavior="slide" width="100%">
	Message to customer!
</marquee>
</p>
</div>
-->

<div style="float: right; margin: 1em"> <%= image_tag "protein_sequencing1.png", :width => 300 -%> </div>
<h2>PROTEIN SEQUENCING</h2>
<p align="justify">
	Currently we have two ABI 494 Protein Sequencers capable of sequencing up to eight samples per day at low picomole levels. We accept samples either on PVDF membrane or in solution. If in solution please contact us for more information on acceptable buffers and solvents. Turnaround time is usually one week or less. Results are sent out by email with attached PDF's.
</p>

<h2>SUBMIT ORDER</h2>
<p><b><%= link_to "CLICK HERE", image_path('documents/protein.pdf') %></b> - to download the Protein Sequencing Order Form.</p>

<h2>CHARGES & SPECIAL SERVICES</h2>
<table class="home2">
	<tr>
		<th>SERVICE</th>
		<th>TUFTS INTERNAL</th>
		<th>TMC & EXTERNAL</th>
	</tr>
	<tr>
		<td>Startup Fee per sample</td>
		<td>$42.50</td>
		<td>$50</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFCC">Fee per cycle requested</td>
		<td bgcolor="#FFFFCC">$8.50</td>
		<td bgcolor="#FFFFCC">$10</td>
	</tr>
</table>

<p align=center><%= image_tag "protein_sequencing2.png", :width => 600 -%></p>
