/* Rules for FOOTER */
#footer{ margin-left: auto; margin-right:auto; }
.footercell
{
	color: white;
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif; 
	text-decoration: none;
	a:link { color: white; text-decoration: none; }
	a:visited { color: white; text-decoration: none; }
	a:hover { font-weight: bold; }
}
/* End rules for FOOTER */