<center>
  <table id="footer">
    <tr>
      <td class="footercell"> 
        <p><a href="http://www.tufts.edu">Tufts University</a> 
         | <a href="http://medicine.tufts.edu/Education/Academic-Departments/Basic-Science-Departments/Integrative-Physiology-and-Pathobiology">Integrative Physiology and Pathobiology Department</a> 
         | <a href="mailto:michael.berne@tufts.edu">Feedback</a> 
         | <a href="http://www.tufts.edu/home/maps/?p=boston">Directions</a>       
         | <a href="mailto:michael.berne@tufts.edu">Contact Us</a></p>

        <p align="center">Last Modified: Wednesday, 23-July-2014 11:16:21 EDT <br />
        &copy; Copyright - Tufts University</p>
      </td>
    </tr>
  </table>
</center>